<!DOCTYPE html>
<html>

<head>

<title>Contact - VoiceSafe</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<!-- NAVBAR -->

<nav>

<h1>VoiceSafe</h1>

<div>

<a href="/">Home</a>
<a href="/dashboard">Dashboard</a>
<a href="/about">About</a>
<a href="/contact">Contact</a>

</div>

</nav>


<!-- CONTACT SECTION -->

<div class="page-card">

<h2>Project Team</h2>

<br>

<ul>

<li>
Ruturaj Kanamadi — AI-DS C
</li>

<li>
Ketan Gonde — ENTC A
</li>

<li>
Suhani Gaikwad — ENTC A
</li>

<li>
Shankar Patil — AI-DS C
</li>

<li>
Pratik Munde — COMP B
</li>

</ul>

<br><br>

<h2>Project Mentor</h2>

<p>
Mr. N.D. Gaikwad
</p>

<br><br>

<h2>Institute</h2>

<p>
AISSMS Institute Of Information Technology, Pune
</p>

<br>

<h2>Academic Year</h2>

<p>
2025 - 2026
</p>

</div>


<!-- FOOTER -->

<footer>

<p>
VoiceSafe | Smart Water Complaint & Leakage Detection System
</p>

</footer>

</body>
</html>